@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import 'reset.css';
body {
  background-color: #f7f7f7;
  color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: 'Open Sans';
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content form {
	border: none;
	border-bottom: 2px #f7f7f7 solid;
	margin-bottom: 10px;
}
.content form input {
	border: none;
	background-color: transparent;
	font-weight: 600;
	font-size: 30px;
}
.content .js-clock {
  font-size: 60px;
  margin-bottom: 15px;
}
.content .js-greetings {
	font-size: 30px;
	color: #f7f7f7;
	margin-bottom: 10px;
}
.js-weather {
  position: absolute;
  right: 0;
}
.clicked {
  color: #f7f7f7;
}

.btn {
  cursor: pointer;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
